#lead-info {
    width: 100%;
    height: auto;
    background: var(--sl-color-neutrals-90);
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;

    #qr-container {
        position: absolute;
        left: 3vw;
        bottom: 3vw;
        width: 18vw;
        background-color: aqua;


    }

    &-content {
        display: flex;
        margin-left: 19vh;
        vertical-align: middle;
        align-items: center;

        .legal-text {
            font-size: 0.571rem;
            line-height: normal;
            width: 70%;
            padding: 1vh;
            color: #fff;
        }

        #logo {
            width: 30%;
            padding: 5%;
            // height: 13vh;

            img {
                width: 80%;
                margin: auto;
                display: block;
            }
        }
    }
}

::ng-deep #qr-container canvas {
    width: 100% !important;
    height: auto !important;
    display: block;
}