.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#logo {
    width: 35vw;
}

#text-content {
    margin-bottom: 2rem;
}

.gradient-v {
    background: linear-gradient(180deg, var(--sl-color-neutrals-100) 0%, var(--sl-color-neutrals-100) 80%, var(--sl-color-primary-150) 100%);
}

form {
    input {
        margin-bottom: 2rem;
    }
}